/*Edite aqui*/

body {
    background-image: url("../assets/img/background_blog.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
.all_site {
    position: relative;
    top: 50px;
}

.cabecalho{
}


.paginas {
    display: flex;
}

.Text h3 {
    color: var(--cor9);
    font-family: 'Playfair Display';
}

.comment {
    display: flex;
    height: auto;
    flex-direction: column;

    .Text h3 {
        color: var(--cor9);
        font-family: 'Playfair Display';
    }

    .Text p {
        color: var(--cor9);
        font-family: 'Playfair Display';
        margin-bottom: 10px;
    }
}

.comment img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.Text h1 {
    color: var(--cor8);
    font-family: 'Playfair Display';
    font-size: 40px;
    /* position: relative; */
    margin-left: 10%;
}

.information {
    background-color: var(--cor3);
    padding: 10px;
    margin-bottom: 10px;
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    position: relative;
    height: auto;
}

.like {
    color: var(--cor9);
    font-family: 'Playfair Display';
    display: flex;
    flex-direction: row;
}

.like img {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.like p {
    margin-right: 20px;
    margin-left: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.Text{

    .imagem_comment img {
    width: 90%;
    height: 90%;
    border-radius: 0%;
    }

} 

footer {
    position: relative;
    top: 100px;
}



