*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

video{
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  bottom: 0;
  background: var(--cor1);
  color: var(--cor9);
  width: 100%;
  padding: 20px;
}


.section1,.section2,.section3,.section4{
   
    h1{

    text-align: center;
    font-size: 40px;
    margin-top: 0;
    padding-top: 20px;

    }

    ul{

    text-align: justify;
    font-size: 20px;

    }

    li{

    text-align: justify;
    font-size: 20px;

    }

    p{
    text-align: justify;
    font-size: 20px;
    }
}























