
body{
    background-color: rgb(0, 0, 0);
    }

    * p{
        color: beige;
        font-size: larger;
        margin: 20px;
        text-align: justify;
    }

    * img{
        border-radius: 10px;
    }

.main .lua{
        display: flex;
        align-items: center;
        img{
        width: 600px;
        height: auto;
        }
    }

    


.main .colisõesgalácticas{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
        img{
        width: 500px;
        height: auto;
        }
}




.main .Planetas{
    display: flex;
    align-items: center;

    img{
        width: 800px;
        height: auto;
    }
}


.main .galaxia{
     display: flex;
    align-items: center;
    img{
         width: 1800px;
        height: auto;
    }
    
}

.main .Cometa{
    display: flex;
    align-items: center;
}

.main .Nebulosa {
    display: flex;
    align-items: center;
   video{
     width: 1500px;
        height: auto;
   }
}
.main .observatórios{
    
    h2{
    
        color: black;
        background-color: rgb(77, 77, 77);
        border-radius: 20px;
        width: 98%;
        height: 80px;
        font-size: 40px;
        text-align: center;
        margin-left: 15px;
    }
    h4{
        color: beige;
        font-size: 30px;
        text-align: center;
    }
}
.locali{

        display: flex;
        justify-content: center;
    
    a{
        position: absolute;
        color: beige;
        font-size: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.484);
        border-radius: 20px;
        width: 115px;
        height: 40px;
        margin-left: 600px;
    
    }
}