@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&displ…ay=swap');

* {
    margin: 0;
    padding: 0;
}

.cabecalho nav {
    position: fixed;
    width: 60%;
    height: 60px;
    margin-top: 12px;
    background-color: var(--cor10);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20%;
    border-radius: 15px;

    a {
        text-decoration: none;
        color: var(--cor5);
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        padding: 25px;
    }
}

:root {
    --cor1:#000000;
    --cor2:#666666;
    --cor3:#999999;
    --cor4:#CCCCCC;
    --cor5:#DEDEDE;
    --cor6:#797470;
    --cor7:#A59D95;
    --cor8:#D5D2CA;
    --cor9:#F5F5F1;
    --cor10:#403F3F;
}

