* {
    margin: 0;
    padding: 0;
}

#video-home {
    position: fixed;
}

.estelarmente {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 12%;
}

/*RESPONSIVIDADE TABLET*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
    #video-home {
        position: fixed;
        width: 100%;
        height: auto;
    }
}



