@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/*CONFIGURAÇÃO GERAL E DO FORMULARIO*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    background-image: url("../assets/img/fundologin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.principal {
    display: flex;
    flex-direction: column;
    background-color: #454545;
    border-radius: 10px;
    padding: 15px;
}

.campo {
    background-color: #454545;
    padding: 20px;
    height: 300px;
    border-radius: 5px;
}

button {
    border-radius: 7px;
    width: 120px;
    height: 45px;
    text-align: center;
    margin-left: 80px;
    font-family: "Merriweather", serif;
    background-color: #fefefe;
    color: black;
    border: 0px;
    font-size: 16px;
}

button:hover {
    background: #fffcf7;
    color: #7f0d6c;
}

h1 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: xx-large;
    color: #ffffff;
    margin-bottom: 10%;
}

label {
    font-family: "Merriweather", serif;
    color: #fffefe;
}

input {
    font-family: "Merriweather", serif;
    border-radius: 3px;
    border: 0px;
    background-color: #fcfffc83;
}

select {
    background-color: #c4fac583;
}

/*configuração dos botões de login social*/
.google {

    a {
        font-family: "Merriweather", serif;
        text-decoration: none;
        color: black;
        font-size: 13px;
    }

    border-radius: 2px;
    display: flex;
    background-color: white;
    gap:5px;
    width: 210px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.microsoft {

    a {
        font-family: "Merriweather", serif;
        text-decoration: none;
        color: black;
        font-size: 13px;
    }

    border-radius: 2px;
    display: flex;
    background-color: white;
    gap:5px;
    width: 210px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-top: 15px;

}

.textou{
    margin-bottom: 20px;
    margin-right: 5%;
}

/*RESPONSIVIDADE TABLET*/
@media screen and (min-width: 768px) and (max-width: 1023px) {}

/*RESPONSIVIDADE CELULAR*/
@media (max-widht:767px) {
    .principal {
        width: 100%;
        height: 150px;
    }

    .campo {
        width: 100%;
        height: 150px;
    }
}

footer{
    margin-top: 60%;
}