body {
    background-color: black;
}

.menu
{
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px;

    img {
        width: 800px;
        height: auto;
    }

    .texto {
        font-family: "Playfair Display", serif;
        font-size: 20px;
        margin-top: 10px;
        text-align: justify;
        padding: 0 100px;

        h1{
            font-size: 36px;
            margin-bottom: 20px;
            text-align: center;
        }
    }
}