/*FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*CABEÇALHO*/
.cabecalho nav {
    position:absolute !important;
}

/*CAPA PRINCIPAL*/

.video {
    video {
        position: absolute;
    }

    h1 {
        width: 30%;
        font-family: 'Jersey 25', cursive;
        margin-left: 8%;
        font-size: 6rem;
        color: white;
        position: absolute !important;
        top: 40%;
    }

    h2 {
        padding: 1%;
        border-radius: 20px 20px 20px 20px;
        color: white;
        position: absolute !important;
        top: 80%;
        margin-left: 26%;
        background-color: hsl(263, 68%, 46%, 0.5);
    }
}

/*BACKGROUND DO CONTEÚDO*/
body{
    background-image: url(../assets/img/backgroundteoria.jpg);
    background-size: cover;
}

/*BOXES DE INFORMAÇÕES*/
.box1 {
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    position: absolute;
    color: white;
    background-color: hsl(263, 68%, 46%, 0.5);
    width: 55%;
    margin-left: 23%;
    top: 140%;
    display: flex;

    text1 {
        display: flex;
        flex-direction: column;
    }

    .title1 {
        background-color: hsl(275, 90%, 16%, 0.5);
        border-radius: 10px 10px 10px 10px;
        font-size: 1rem;
        margin-left: 30%;
        margin-top: 25%;
        padding: 2%;
        width: 80%;

        h3 {
            font-size: 25px;
            text-align: center;
        }
    }

    p {
        font-size: 22px;
        width: 120%;
        margin-top: 5%;
        margin-left: 20%;
        margin-bottom: 10%;
    }

}

.imgsbox1 {
    flex-direction: column;
    margin-top: 13%;
    margin-bottom: 9%;
    margin-left: 25%;
}

/*SEGUNDO BOX*/
.box2 {
    border-top: 5px solid white;
    position: absolute;
    color: white;
    background-color: hsl(263, 68%, 46%, 0.5);
    width: 80%;
    margin-left: 10%;
    top: 300%;
}

.all {
    display: flex;
    gap: 20px;
}

.teoriaexo {
    border-right: 2px solid white;
    width: 160%;

    .title2 {
        background-color: hsl(275, 90%, 16%, 0.5);
        border-radius: 10px 10px 10px 10px;
        font-size: 1rem;
        margin-left: 30%;
        margin-top: 5%;
        padding: 2%;
        width: 40%;


        h3 {
            font-size: 25px;
            text-align: center;
        }
    }

    p {
        font-size: 22px;
        width: 80%;
        margin-top: 5%;
        margin-left: 15%;
        margin-bottom: 10%;
    }

    img {
        margin-left: 20%;
        margin-bottom: 5%;
    }
}

.teoriakepler {
    .title3 {
        background-color: hsl(275, 90%, 16%, 0.5);
        border-radius: 10px 10px 10px 10px;
        font-size: 1rem;
        margin-left: 30%;
        margin-top: 5%;
        padding: 2%;
        width: 40%;


        h3 {
            font-size: 25px;
            text-align: center;
        }
    }

    p {
        font-size: 22px;
        width: 80%;
        margin-top: 5%;
        margin-left: 15%;
        margin-bottom: 10%;
    }

    img {
        margin-left: 28%;
        margin-bottom: 5%;
    }
}

.more {
    background-color: white;
    font-size: 20px;
    padding-left: 46%;
}

/*ULTIMO BOX*/
.box3 {
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    position: absolute;
    color: white;
    background-color: hsl(263, 68%, 46%, 0.5);
    width: 55%;
    margin-left: 23%;
    top: 398%;

    img {
        padding: 3px;
    }
}

.title4 {
    background-color: hsl(275, 90%, 16%, 0.5);
    border-radius: 10px 10px 10px 10px;
    font-size: 1rem;
    padding: 2%;
    width: 40%;
    margin-left: 30%;
    margin-top: 3%;

    h3 {
        font-size: 25px;
        text-align: center;
    }
}

p {
    font-size: 22px;
    width: 120%;
    margin-top: 5%;
    margin-left: 19%;
    margin-bottom: 10%;
    width: 70%;
}

/*RODAPÉ*/


/*RESPONSIVIDADE TABLET*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .video h1 {
        font-size: 3rem;
        top: 30%;

    }

    .video h2 {
        font-size: 1rem;
        margin-left: 20%;
        top: 45%
    }

    .box1,
    .box2,
    .box3 {
        width: 70%;
        margin-left: 14.5%;

        h3 {
            font-size: 20px;
        }

    }

    .box1 {
        top: 90%;

        p {
            font-size: 18px;
            width: 200%;
            margin-left: 10%;
        }

        img {
            width: 60%;
            margin-left: 25%;
        }

        .title1 {
            width: 150%;
            margin-left: 25%;
        }
    }

    .box2 {
        top: 205%;

        p {
            font-size: 18px;
            margin-left: 10%;
        }

        .teoriaexo {
            width: 230%;
        }

        .teoriaexo img {
            width: 40%;
            height: auto;
            margin-left: 25%;
        }



        .teoriakepler img {
            width: 40%;
            height: auto;
            margin-left: 25%;
        }

        .title1 {
            width: 150%;
            margin-left: 25%;
        }
    }

    .box3 {
        top: 275%;

        p {
            font-size: 18px;
            width: 97%;
            margin-left: 3%;
            margin-bottom: 2%;
        }

        img {
            width: 30%;
            margin-left: 1.5%;
        }
    }
}
